<div style="height: 100vh; padding-top: 5%;">
<mat-card class="card-signup">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="username" ngModel type="text" placeholder="username" #usernameInput="ngModel" required>
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="address" ngModel type="text" placeholder="address" #addressInput="ngModel" required >
      <mat-error *ngIf="addressInput.invalid">Please enter a valid address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="phone_number" ngModel type="text" placeholder="phone_number" #phone_numberInput="ngModel" required >
      <mat-error *ngIf="phone_numberInput.invalid">Please enter a valid phone no.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="age" ngModel type="text" placeholder="age" #ageInput="ngModel" required >
      <mat-error *ngIf="ageInput.invalid">Please enter a valid age.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="gender" ngModel type="text" placeholder="gender" #genderInput="ngModel" required>
      <mat-error *ngIf="genderInput.invalid">Please enter a valid gender.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
</div>