:host {
  display: block;
  
}
mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
  background-image: linear-gradient(
    to right,
    var(--body_gradient_left),
    var(--body_gradient_right)
  );
}
.img-container{
  padding: 3px;
  display:flex;
  justify-content: center;
}
.main-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}
.product-card{
  margin-top: 15px;
  max-width: 350px;
  margin-left: 15px;
  
}
/* .product-card:hover{
  zoom: 1.2;
} */
.action{
  border-top: 1px black solid;
}
#product-img{
  height: 200px;
  width: 150px;
}
.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
